[Unit]
Description=Simple X Hotkey Daemon

[Service]
Environment=DISPLAY:0
ExecStart=/usr/bin/sxhkd
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=default.target

