! =====================
! [START] Colors
! =====================

! Gruvbox
! #define BLACK1          #282828
! #define BLACK2          #928374
! #define RED1            #cc241d
! #define RED2            #fb4934
! #define GREEN1          #98971a
! #define GREEN2          #b8bb26
! #define YELLOW1         #d79921
! #define YELLOW2         #fabd2f
! #define BLUE1           #458588
! #define BLUE2           #83a598
! #define MAGENTA1        #b16286
! #define MAGENTA2        #d3869b
! #define CYAN1           #689d6a
! #define CYAN2           #8ec07c
! #define WHITE1          #a89984
! #define WHITE2          #ebdbb2

! Arc darkish pallete
! #define BLACK1          #353945
! #define BLACK2          #7c818c
! #define RED1            #fc4138
! #define RED2            #f04a50
! #define GREEN1          #73d216
! #define GREEN2          #73d216
! #define YELLOW1         #ffe817
! #define YELLOW2         #ffe817
! #define BLUE1           #5294e2
! #define BLUE2           #4dadd4
! #define MAGENTA1        #c61c6f
! #define MAGENTA2        #5956ba
! #define CYAN1           #259286
! #define CYAN2           #819090
! #define WHITE1          #f5f6f7
! #define WHITE2          #ffffff

! One Dark
#define BLACK1   #1E2127 
#define BLACK2   #5C6370       
#define RED1     #E06C75 
#define RED2     #E06C75       
#define GREEN1   #98C379 
#define GREEN2   #98C379       
#define YELLOW1  #D19A66 
#define YELLOW2  #D19A66       
#define BLUE1    #61AFEF 
#define BLUE2    #61AFEF      
#define MAGENTA  #C678DD 
#define MAGENTA2 #C678DD      
#define CYAN1    #56B6C2 
#define CYAN2    #56B6C2      
#define WHITE1   #ABB2BF 
#define WHITE2   #FFFFFF       

#define FOREGROUND	    WHITE2
#define BACKGROUND	    BLACK1
#define SELFOREGROUND	  BLACK1
#define SELBACKGROUND	  BLUE1
#define CURSORCOLOR     BLUE
#define NORMBGCOLOR	    BACKGROUND
#define NORMFGCOLOR	    FOREGROUND
#define SELBGCOLOR	    SELBACKGROUND
#define SELFGCOLOR	    SELFOREGROUND
#define NORMBORDERCOLOR	BLACK2
#define SELBORDERCOLOR  SELBACKGROUND

*.foreground: FOREGROUND
*.background: BACKGROUND

*.cursorColor: CURSORCOLOR

! Black
*.color0:      BLACK1
*.color8:      BLACK2
!
! Red
*.color1:      RED1
*.color9:      RED2
!
! Green
*.color2:      GREEN1
*.color10:     GREEN2
!
! Yellow
*.color3:      YELLOW1
*.color11:     YELLOW2
!
! Blue
*.color4:      BLUE1
*.color12:     BLUE2
!
! Magenta
*.color5:      MAGENTA1
*.color13:     MAGENTA2
!
! Cyan
*.color6:      CYAN1
*.color14:     CYAN2
!
! White
*.color7:      WHITE1
*.color15:     WHITE2

! Some other colors for st term
*.color256:      BACKGROUND
*.color257:      FOREGROUND
*.color258:      CURSORCOLOR


! =====================
! [START] Rofi
! =====================
rofi.modi:             ssh,window,drun,run
rofi.sidebar-mode:     true
rofi.terminal:         st
rofi.ssh-client:       ssh
rofi.ssh-command:      {terminal} -e "{ssh-client} {host}"
rofi.opacity:          100
rofi.width:            50
rofi.lines:            8
rofi.columns:          1
rofi.font:             Ubuntu 14
rofi.theme:            Arc-Dark
rofi.show-icons:       true

! =====================
! [START] Suckless
! =====================
dwm.normbordercolor:	NORMBORDERCOLOR
dwm.normbgcolor:	NORMBGCOLOR
dwm.normfgcolor:	NORMFGCOLOR
dwm.selbordercolor:  	SELBORDERCOLOR
dwm.selbgcolor:		SELBGCOLOR
dwm.selfgcolor:		SELFGCOLOR

!dmenu.font:
dmenu.background:       NORMBGCOLOR
dmenu.foreground:       NORMFGCOLOR
dmenu.selbackground:    SELBGCOLOR
dmenu.selforeground:    SELFGCOLOR


! =====================
! [START] URXVT
! =====================
URxvt.perl-ext-common: default,matcher,font-size,keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.foreground: FOREGROUND
URxvt.background: BACKGROUND
URxvt.depth: 32
URxvt.geometry: 90x30
URxvt.loginShell: true
URxvt.internalBorder: 3
URxvt.lineSpace: 0
URxvt.shading: 15
URxvt.saveLines: 12000

! Keyboard for font resize
URxvt.keysym.C-k:      font-size:increase
URxvt.keysym.C-j:      font-size:decrease
URxvt.keysym.C-S-k:    font-size:incglobal
URxvt.keysym.C-S-j:    font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
URxvt.keyboard-select.clipboard: true
 
! font testing
URxvt.font:             xft:Source Code Pro:pixelsize=16:antialias=true,hinting=true
URxvt.boldFont:         xft:Source Code Pro:pixelsize=16:antialias=true,hinting=true
URxvt.italicFont:       xft:Source Code Pro:pixelsize=16:antialias=true,hinting=true
URxvt.bolditalicFont:   xft:Source Code Pro:pixelsize=16:antialias=true,hinting=true

URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollstyle: plain
URxvt.cursorBlink: true
! =====================
! [END] URXVT
! =====================

! Use a nice truetype font and size by default... 
xterm*faceName: Source Code Pro
xterm*faceSize: 14

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! I like a LOT of scrollback...
xterm*savelines: 16384

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! DOS-box colours...
xterm*foreground: rgb:a8/a8/a8
xterm*background: rgb:00/00/00
xterm*color0: rgb:00/00/00
xterm*color1: rgb:a8/00/00
xterm*color2: rgb:00/a8/00
xterm*color3: rgb:a8/54/00
xterm*color4: rgb:00/00/a8
xterm*color5: rgb:a8/00/a8
xterm*color6: rgb:00/a8/a8
xterm*color7: rgb:a8/a8/a8
xterm*color8: rgb:54/54/54
xterm*color9: rgb:fc/54/54
xterm*color10: rgb:54/fc/54
xterm*color11: rgb:fc/fc/54
xterm*color12: rgb:54/54/fc
xterm*color13: rgb:fc/54/fc
xterm*color14: rgb:54/fc/fc
xterm*color15: rgb:fc/fc/fc

! right hand side scrollbar...
xterm*ScrollBar: false
! xterm*rightScrollBar: true

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false



! =====================
! [START] MISC
! =====================
Xft.dpi:             96
Xft.antialias:       true
Xft.rgba:            rgb
Xft.hinting:         true
Xft.hintstyle:       hintslight
