configuration {
  modi: "window,run,drun,ssh";
  font: "Hack Nerd Font 14";
  show-icons: true;
  filebrowser {
    directories-first: true;
    sorting-method: "name";
  }
}
@theme "~/.config/rofi/dracula-dark.rasi"
