configuration {
    modi: "window,drun,ssh,run";
    theme: "themes/Arc-Dark";
    font: "Ubuntu 12";
    location: 0;
    padding: 5;
    fixed-num-lines: true;
    show-icons: true;
    combi-modi: "window,drun,ssh";
    line-margin: 2;
    line-padding: 1;
}
