configuration {
    modi: "window,drun,ssh,run";
    theme: "gruvbox-dark";
    font: "Ubuntu 12";
    location: 0;
    padding: 5;
    fixed-num-lines: true;
    show-icons: true;
    combi-modi: "window,drun,ssh";
    line-margin: 2;
    line-padding: 1;
    fake-transparency: true;
/*	display-window: ;*/
/*	display-windowcd: ;*/
/*	display-run: ;*/
/*	display-ssh: ;*/
/*	display-drun: ;*/
/*	display-combi: ;*/
/*	display-keys: ;*/
}
@import "/usr/share/rofi/themes/android_notification.rasi"
