# software shortcuts
alias rbash='source ~/.bashrc'
alias rzsh='source ~/.zshrc'
alias rn='ranger'
alias conf='$SCRIPTS/term-dotfiles'
alias sc='sudo systemctl'
alias arch-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias G="| grep -i"
# systemd
alias sc="sudo systemctl"
alias scu="systemctl --user"
# Aptitude
alias sa='sudo apt'
alias sag='sudo apt-get'
alias sup='sudo apt update'
alias supp='sudo apt update && sudo apt upgrade'
alias ag='apt-get'
alias sag='sudo apt-get'
alias ags='apt-cache search'
alias agi='sudo apt-get install'
alias agr='sudo apt-get remove --purge'
alias aginfo='apt-cache show'
# Pacman
alias p='pacman'
alias sp='sudo pacman'
alias pac='pacman'
alias spac='sudo pacman'
alias pacs='pacman -Ss'
alias paci='sudo pacman -S'
alias pacup='sudo pacman -Syu'
alias pacrm='sudo pacman -Rus'
# Navigation
alias ll='ls -lsA'
alias la='ls -A'
alias l='ls -CF'
alias dotfiles='cd ~/dotfiles'
alias scripts='cd $SCRIPTS'
# vim & neovim
alias v='vim'
alias vim='nvim'
alias valias='vim $ALIASES'
alias vprofile='vim ~/.profile'
# cd to projects folder
alias proj='cd ~/Projects'
