[user]
	name = Lucas Ramos
	email = lucasnramos@gmail.com
[credential]
	helper = store
[core]
	autocrlf = input
	editor = nvim
[http]
	cookiefile = /home/lucas/.gitcookies
[alias]
	co = checkout
	ft = fetch
	pp = push
	pu = push -u
	pl = pull
	st = status
	cp = cherry-pick
	acm = ! git add . && git commit -m
	cm = commit
	cane = commit --no-edit --amend
	cne = commit --no-edit
	rb = rebase
	wt = worktree
[pull]
	rebase = true
[init]
	defaultBranch = master
