[user]
	name = Lucas Ramos
	email = lucasnramos@gmail.com
[credential]
	helper = store
[core]
	autocrlf = input
[http]
	cookiefile = /home/lucas/.gitcookies
	sslVerify = false
[alias]
	co = checkout
	ft = fetch
	pp = push
	pu = push -u
	pl = pull
	st = status
	cp = cherry-pick
	acm = ! git add . && git commit -m
[pull]
	rebase = true
