# Misc
alias rbash='source ~/.bashrc'
alias rn='ranger'
# systemd
alias sc='sudo systemctl'
alias scripts='cd ~/.scripts'
alias arch-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'
# systemd
alias sc="sudo systemctl"
alias scu="systemctl --user"
# Aptitude
alias sa='sudo apt'
alias sag='sudo apt-get'
alias agsearch='apt-cache search'
alias aginstall='sudo apt-get install'
alias agremove='sudo apt-get remove --purge'
alias aginfo='apt-cache show'
# Pacman
alias p='pacman'
alias sp='sudo pacman'
alias pac='pacman'
alias spac='sudo pacman'
alias pacs='pacman -Ss'
alias paci='sudo pacman -S'
alias pacup='sudo pacman -Syu'
alias pacrm='sudo pacman -Rus'
# Navigation
alias ll='ls -lsA'
alias la='ls -A'
alias l='ls -CF'
alias dotfiles='cd ~/dotfiles'
# vim & neovim
alias v='vim'
alias vim='nvim'
alias valias='vim ~/.bash_aliases'
alias vprofile='vim ~/.profile'
# cd to projects folder
alias proj='cd ~/Projects'
