! =====================
! [START] Colors
! =====================

! Nord theme
! #include ".themes/xcolors/nord.Xresources"

! Solarized theme
! #include ".themes/xcolors/base16-solarized-dark-256.Xresources"

! Arc Dark Theme
#include ".themes/xcolors/base16-arc-dark.Xresources"

! Adwaita Theme
! #include ".themes/xcolors/base16-adwaita.Xresources"

! =====================
! [START] URXVT
! =====================
URxvt.perl-ext-common: default,matcher,font-size,keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.foreground: #D8DEE9
URxvt.background: #222222
URxvt.depth: 32
URxvt.geometry: 90x30
URxvt.loginShell: true
URxvt.internalBorder: 3
URxvt.lineSpace: 0
URxvt.shading: 15
URxvt.saveLines: 12000

! Keyboard for font resize
URxvt.keysym.C-k:      font-size:increase
URxvt.keysym.C-j:      font-size:decrease
URxvt.keysym.C-S-k:    font-size:incglobal
URxvt.keysym.C-S-j:    font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
URxvt.keyboard-select.clipboard: true
 
! font testing
URxvt.font:             xft:Ubuntu Mono:pixelsize=16:antialias=true,hinting=true
URxvt.boldFont:         xft:Ubuntu Mono:pixelsize=16:antialias=true,hinting=true
URxvt.italicFont:       xft:Ubuntu Mono:pixelsize=16:antialias=true,hinting=true
URxvt.bolditalicFont:   xft:Ubuntu Mono:pixelsize=16:antialias=true,hinting=true

URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollstyle: plain
URxvt.cursorBlink: true
! =====================
! [END] URXVT
! =====================

Xft.dpi:             96
Xft.antialias:       true
Xft.rgba:            rgb
Xft.hinting:         true
Xft.hintstyle:       hintslight
