! =====================
! [START] Colors
! =====================

! Arc darkish pallete
#define BLACK1          #353945
#define BLACK2          #7c818c
#define RED1            #fc4138
#define RED2            #f04a50
#define GREEN1          #73d216
#define GREEN2          #73d216
#define YELLOW1         #ffe817
#define YELLOW2         #ffe817
#define BLUE1           #5294e2
#define BLUE2           #4dadd4
#define MAGENTA1        #c61c6f
#define MAGENTA2        #5956ba
#define CYAN1           #259286
#define CYAN2           #819090
#define WHITE1          #f5f6f7
#define WHITE2          #ffffff

#define FOREGROUND	WHITE2
#define BACKGROUND	BLACK1
#define SELFOREGROUND	WHITE1
#define SELBACKGROUND	BLUE1
#define CURSORCOLOR     WHITE2

*.foreground: FOREGROUND
*.background: BACKGROUND

*.cursorColor: CURSORCOLOR

! Black
*.color0:      BLACK1
*.color8:      BLACK2
!
! Red
*.color1:      RED1
*.color9:      RED2
!
! Green
*.color2:      GREEN1
*.color10:     GREEN2
!
! Yellow
*.color3:      YELLOW1
*.color11:     YELLOW2
!
! Blue
*.color4:      BLUE1
*.color12:     BLUE2
!
! Magenta
*.color5:      MAGENTA1
*.color13:     MAGENTA2
!
! Cyan
*.color6:      CYAN1
*.color14:     CYAN2
!
! White
*.color7:      WHITE1
*.color15:     WHITE2

! Some other colors for st term
*.color256:      BACKGROUND
*.color257:      FOREGROUND
*.color258:      CURSORCOLOR

#define NORMBGCOLOR		BACKGROUND
#define NORMFGCOLOR	        FOREGROUND
#define SELBGCOLOR	        SELBACKGROUND
#define SELFGCOLOR		SELFOREGROUND
#define NORMBORDERCOLOR		BACKGROUND
#define SELBORDERCOLOR    	SELBACKGROUND


! =====================
! [START] Rofi
! =====================
rofi.modi:             ssh,window,drun,run
rofi.sidebar-mode:     true
rofi.terminal:         st
rofi.ssh-client:       ssh
rofi.ssh-command:      {terminal} -e "{ssh-client} {host}"
rofi.opacity:          100
rofi.width:            50
rofi.lines:            8
# rofi.columns:          1
# rofi.font:             Inconsolata 14
rofi.theme:            solarized

! =====================
! [START] Suckless
! =====================
dwm.normbordercolor:	NORMBORDERCOLOR
dwm.normbgcolor:	NORMBGCOLOR
dwm.normfgcolor:	NORMFGCOLOR
dwm.selbordercolor:  	SELBORDERCOLOR
dwm.selbgcolor:		SELBGCOLOR
dwm.selfgcolor:		SELFGCOLOR

!dmenu.font:
dmenu.background:       NORMBGCOLOR
dmenu.foreground:       NORMFGCOLOR
dmenu.selbackground:    SELBGCOLOR
dmenu.selforeground:    SELFGCOLOR

! =====================
! [START] MISC
! =====================
Xft.dpi:             96
Xft.antialias:       true
Xft.rgba:            rgb
Xft.hinting:         true
Xft.hintstyle:       hintslight
