!! =====================
!! [START] Colors
!! =====================
!! +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
!! title      Nord XResources                                    +
!! project    nord-xresources                                    +
!! version    0.1.0                                              +
!! repository https://github.com/arcticicestudio/nord-xresources +
!! author     Arctic Ice Studio                                  +
!! email      development@arcticicestudio.com                    +
!! copyright  Copyright (C) 2016                                 +
!! +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
!#define nord0 #2E3440
!#define nord1 #3B4252
!#define nord2 #434C5E
!#define nord3 #4C566A
!#define nord4 #D8DEE9
!#define nord5 #E5E9F0
!#define nord6 #ECEFF4
!#define nord7 #8FBCBB
!#define nord8 #88C0D0
!#define nord9 #81A1C1
!#define nord10 #5E81AC
!#define nord11 #BF616A
!#define nord12 #D08770
!#define nord13 #EBCB8B
!#define nord14 #A3BE8C
!#define nord15 #B48EAD
!
!*.foreground:   nord4
!*.background:   nord0
!*.cursorColor:  nord4
!*fading: 0
!*fadeColor: nord3
!
!*.color0: nord1
!*.color1: nord11
!*.color2: nord14
!*.color3: nord13
!*.color4: nord9
!*.color5: nord15
!*.color6: nord8
!*.color7: nord5
!*.color8: nord3
!*.color9: nord11
!*.color10: nord14
!*.color11: nord13
!*.color12: nord9
!*.color13: nord15
!*.color14: nord7
!*.color15: nord6

! Arc Theme
*.background: #383c4a
*.foreground: #D2D2D2

!black
*color0: #383c4a
*color8: #404552

!red
*color1: #9A4138
*color9: #E7766B

!green
*color2: #4BEC90
*color10: #3CBF75

!yellow
*color3: #D8D782
*color11: #CFCD63

!blue
*color4: #5294e2
*color12: #579CEF

!magenta
*color5: #CE50DD
*color13: #E7766B

!cyan
*color6: #6BE5E7
*color14: #90FDFF

!white
*color7: #CCCCCC
*color15: #FFFFFF
! =====================
! [START] URXVT
! =====================
URxvt.perl-ext-common: default,matcher,font-size,keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.foreground: nord4
URxvt.background: nord0
URxvt.depth: 32
URxvt.geometry: 90x30
URxvt.loginShell: true
URxvt.internalBorder: 3
URxvt.lineSpace: 0
URxvt.shading: 15
URxvt.saveLines: 12000

! Keyboard for font resize
URxvt.keysym.C-k:      font-size:increase
URxvt.keysym.C-j:      font-size:decrease
URxvt.keysym.C-S-k:    font-size:incglobal
URxvt.keysym.C-S-j:    font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
URxvt.keyboard-select.clipboard: true
 
! font testing
URxvt.font:             xft:Source Code Pro:pixelsize=16:antialias=true,hinting=true
URxvt.boldFont:         xft:Source Code Pro:pixelsize=16:antialias=true,hinting=true
URxvt.italicFont:       xft:Source Code Pro:pixelsize=16:antialias=true,hinting=true
URxvt.bolditalicFont:   xft:Source Code Pro:pixelsize=16:antialias=true,hinting=true

URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollstyle: plain
URxvt.cursorBlink: true
! =====================
! [END] URXVT
! =====================

Xft.dpi:             96
Xft.antialias:       true
Xft.rgba:            rgb
Xft.hinting:         true
Xft.hintstyle:       hintslight
